<div class="big">
  <main class="text">
    <h2>OK, <%= @name %>, try to guess the secret number, or else you die!!</h2>
    <h3>Paste this link in your browser followed by your guess:</h3>
    <br />
    <form>
      <input type="number" name="guess" placeholder="Enter your guess" />
      <input type="submit" value="GUESS" />
    </form>
    <p>Your guess of <%= @guess %> was <%= @feedback %></p>
    <p>Guess number: <%= cookies[:count] %></p>
    <p>The secret number is: <%= cookies[:secret] %></p>
  </main>
</div>
